@import "bootstrap/bootstrap.less";
@import "variables.less";

/*cтили страницы*/ 

body {
/*стиль шапки*/        
        header {
     		    background: url(../images/home/home-bg.jpg) no-repeat;
                background-size: cover;
                background-position: center center;
                width: 100%;
                height: 770px;
                @media screen and (max-width: 768px) { /* разрешение планшета */
                  width: 100%;
                  height: 770px;  
                }    
                /*стиль логотипа и панели навигации*/ 
                .row {
                    padding-top: @small;
                    padding-right: @edge; 
                    padding-left: @edge; 
                    margin-left:0;
                    margin-right:0;
                    @media screen and (max-width: 768px) { /* разрешение планшета */
                            padding-right: @small; 
                            padding-left: @small;  
                    }

                    .col-md-6 { 
                        padding: 0;
                        /*стиль меню*/
                        .navbar-default {
                              background-color: initial;
                              border-color: initial;
                            .collapse {
                                padding: 0;
                                a {
                                    color:#fff;
                                    padding: 10px;
                                     @media screen and (max-width: 768px) { /* разрешение планшета */
                                        padding-right: 15px;  
                                        padding-left: 15px;
                                     }

                                }
                            }

                        }

                    } 
                    
                }
                .text {
                    text-align: center ;
                    color: #fff;
                    h1 {
                        padding: 19px;
                    }
                    p {
                        padding: 19px; 
                    }
                    button {
                        padding: 15px;
                        border-color: #fff;
                        background-color: initial; 
                        font-size: 16px;
                    }
                }

        }
        /*cтили блока с контентом*/
        .container {
            text-align: center;
            padding-top: 50px;
            .multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-25%;
      }
      &.right{
        left:25%;
      }
    }
    .next{
      left: 25%;
    }
    .prev{
      left: -25%;
    }
                    @media all and (transform-3d), (-webkit-transform-3d) {
                                > .item{
                                    // use your favourite prefixer here
                                        transition: 500ms ease-in-out left;
                                        transition: 500ms ease-in-out all;
                                        backface-visibility: visible;
                                        transform: none!important;
                                }
                            }
                        }
                        .carouse-control{
                                    &.left, &.right{
                                    background-image: none;
                            }
                        }
                    }
/*cтили галереи*/
               .row {
                        .col-md-4 {
                                padding-top: 10px;
                                position: relative;
                                overflow: hidden;
                                img {
                                        margin: 0px;
                                        padding: 0px;
                                        float: left;
                                        z-index: 4;

                                }
                                .caption {
                                        cursor: pointer;
                                        position: absolute;
                                        opacity: 0;
                                        -webkit-transition: all 0.45s ease-in-out;
                                        -moz-transition: all 0.45s ease-in-out;
                                        -o-transition: all 0.45s ease-in-out;
                                        -ms-transition: all 0.45s ease-in-out;
                                        transition: all 0.45s ease-in-out;
                                }
                                &:hover {
                                     .caption {
                                         opacity: 1;
                                    }  
                                }
                                .blur {
                                         background-color: rgba(78,0,0,0.65);
                                         height: 300px;
                                         width: 400px;
                                         z-index: 5;
                                         position: absolute;
                                         
                                }
                                .caption-text {
                                        z-index: 10;
                                        color: #fff;
                                        position: absolute;
                                        width: 300px;
                                        height: 400px;
                                        text-align: center;
                                        top: 100px;
                                        display: inline-block;
                                        h1 {
                                             text-transform: uppercase;
                                             font-size: 24px;
                                         }
                                }
                        }
               
               }




        }

}
       
